body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: "black";

}
body {
    cursor: default;
}
#my-cursor {
    display: none;
    position: absolute;
    width: 32px;
    height: 32px;
    background-image: url('./pointer_toon_b.png');
    pointer-events: none; 
    z-index: 9999;
}
